a {text-decoration: none;color: #e1c37b;}
*{margin:0 auto;}
header,footer{background: rgb(9,30,55) center no-repeat fixed;height: 94px;margin: 0 auto;background-size: 100% 100%; background-size: cover;}
header img{width: 97px;}
footer{color: rgb(255,255,255);font-size: 12px; font-weight: 300; line-height: 1;}
footer a, footer a:hover{text-decoration: none; color: #ffffff;}
.cruel-free {width: 118px;height: 32px;margin-left: -14px;}
.container-fluid{margin:0 auto;text-align:center;margin-left: auto;margin-right: auto;padding: 0;}
.container{margin:0 auto;text-align:center;margin-left: auto;margin-right: auto;padding: 0;}
.centered_flex{display: flex;justify-content:center;align-items: center; }
.centered_nav{display: flex;justify-content: center;align-items: center;}
.nav{font-size: 14px;font-family: "Montserrat", sans-serif; font-weight: 300;}
nav2 {display: inline-block;padding: 0 15px;position: relative;}
nav2:hover:before,nav2:hover:after {background: #000;content: "";display: block;height: 1px;position: absolute;top: 50%;width: 12px;}
nav2:hover:before {right: 95%;}
nav2:hover:after {left: 95%;}
.navbar-default .navbar-nav > li > a {color: #333; padding-left: 32px;}
.line-on-sides{overflow: hidden;}
b{font-weight: 400;}
.button{width: 171px;height: 30px;font-size: 14px; border-width: 1px;border-color: rgb(6, 16, 42);border-style: solid;text-align: center;display: flex;justify-content: center;align-items: center;}
.button_sm{width: 80px;height: 30px;font-size: 14px; margin-left: 10px;border-width: 1px;border-color: rgb(6, 16, 42);border-style: solid;text-align: center;display: flex;justify-content: center;align-items: center;}
.button_bg{width: 240px;height: 32px;font-size: 14px; border-width: 1px;border-color: rgb(6, 16, 42);border-style: solid;text-align: center;display: flex;justify-content: center;align-items: center;}
.submitbtn{width: 110px;height: 30px;font-size: 14px; font-weight: 300;border-width: 1px;border-color: rgb(6, 16, 42);border-style: solid;text-align: center; display: flex;justify-content: center;align-items: center;}
.button_blue{background-color: rgb(6, 16, 42);color: rgb(255, 255, 255);}
.button_wht{background-color: rgb(255, 255, 255);color: rgb(6, 16, 42);}
.button_blue a{color: #ffffff;}
.button_wht a{color: rgb(6, 16, 42);}
.sup1{vertical-align: super;}
.nav{font-size: 14px;font-family: "Montserrat", sans-serif;}
.jumbotron p{font-size: 16px;font-weight: 300; line-height: 24px;}
.jumbotron_wht{background: rgb(255,255,255);}
.jumbotron_w_bg{background: rgb(248,249,249);background-size: cover;border: 1px solid rgb(235, 235, 235);margin: 0 auto;}
.jumbotron_w_imgbg{height: 528px;background-image: url("../img/gift_bg.png");border: 1px solid rgb(235, 235, 235);background-size:100% cover;background-position:center;}
.b3textbox{width:382px;background-color:rgb(255,255,255); text-align:center;}
.linebreak1{margin-top: 10px;}
.linebreak12{margin-top: 12px;}
.linebreak2{margin-top: 20px;}
.linebreak24{margin-top: 24px;}
.linebreak3{margin-top: 30px;}
.linebreak4{margin-top: 40px;}
.word_wrapper{text-align: left; margin-top: 22%;}
.b2word_wrapper{text-align: left; margin-top: 28%;}
.bfaft_wrapper{margin-top: 10%;}
.updateform{text-align: left;}
.form-control{border-radius: 0; width: 190px;height: 30px;}
.cream_wrapper{margin-top: 10%;}
.carousel-control.left,.carousel-control.right{background-image: none;}
.carousel-control {position: absolute;top: 50%; /* pushes the icon in the middle of the height */z-index: 5;display: inline-block;}
div.productwrapper .button_wht{visibility: hidden;}
div.productwrapper:hover .button_wht {visibility: visible;}
.button_wht:hover {background-color: rgb(6, 16, 42);color: rgb(255, 255, 255);}
.button_wht:hover a {background-color: rgb(6, 16, 42);color: rgb(255, 255, 255);}
.main{text-align: left;}
.mainp{padding-left: 20px;}
div.form-group input{margin-left: 18px;margin-right: 40px;}
h2 {font-family: "Playfair Display",serif;font-size: 26px;}
h3{font-size: 38px;line-height: 38px;font-weight: 400;}
h4{font-size: 33px;}
h5{font-size: 20px;}
h6{font-size: 18px;display: inline;}
body,html {box-sizing: border-box;margin:0px;padding:0px;overflow-x: hidden; height: 100%;-webkit-overflow-scrolling: touch;}
body{text-align: center;font-size: 16px; font-weight: 300;line-height: 24px;}
a:hover {color: #e1c37b;text-decoration: underline;}
/*social network icon */
.social-wrap{list-style: none;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-flex-flow: row nowrap;justify-content:space-between;margin-top: 6px;}
.social-item{width: 20px;height: 20px;margin-left: 6px;}

/* newsletter popup css */
#popupcontainer {display: none;background-color:#ffffff;width: 360px; height: 480px; z-index: 1000;
  border: 1px solid #000000;box-shadow: 0 0 10px #c6c6c6;position: fixed; bottom: 0; right:5%;
 font-family: "Montserrat", sans-serif;}
.popup-header {background: rgb(9,30,55);height: 41px; padding: 9px 18px;color: #ffffff;}
.popupbody {padding: 6px 20px;}
.popup-btn {float: right;}
.infusion-field-input-container {display: block; width: 100%; height: 32px;}
.infusion-field label {font-weight: 300;}
#popupClose:hover {cursor: pointer;}
select#inf_custom_Whichproductareyouinterestedin {width: 100%; height: 32px;
  border-radius: 0px;-webkit-appearance: none;-moz-appearance:none /*for firefox*/; -webkit-border-radius: 0px;padding: 0px 6px;
  background: url("../img/selectarrows.png") no-repeat right 10px center #f8f9f9;}

/*helpful button css*/
.button_review{height: 32px;color: rgb(255, 255, 255);background-color: rgb(9,30,55);border-width: 1px
  ;border-color: rgb(6, 16, 42);border-style: solid;text-align: center; display: flex;justify-content: center;align-items: center;cursor: pointer;}
.helpful_wrd{float: left; width: 200px;margin-top: 4px;}
.helpful_item{float: left;width: 90px; margin-left: 20px;}
.inbutton_text{font-weight: 200;margin-top: 2px;}
/*page display*/
.curPage{border-bottom: 1px solid rgb(6, 16, 42);}
.pagenumber a{color: rgb(9,30,55);}
#pagenumberitem{margin-left: 16px;}
#pagenumbers_nav{margin-left: 10px;margin-right: 10px;}

/*handle responsive for different screens*/
@media screen and (max-width:1199px) {
 .b2margin{margin-left: 7%;}
 .social-wrap{margin:0;display: block;}
 .cream_wrapper{margin-top: 12%;margin-left: 4%;}
 .cruel-free{margin-left: 0;margin-top: 5px;}
 footer {height: 130px;}
}
@media screen and (max-width:991px) {
 .cream_wrapper{margin-left: 0;margin-top: 16%;}
 .centered_nav{display: block;}
 .b2margin{margin: 0 auto;}
 .navbar-header {float: none;}
 .navbar-left,.navbar-right {float: none !important;}
 .navbar-toggle {display: block;}
 .navbar-collapse {border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
 .navbar-fixed-top {top: 0;border-width: 0 0 1px;}
 .navbar-collapse.collapse {display: none!important;}
 .navbar-nav {float: none!important;margin-top: 7.5px;}
 .navbar-nav>li {float:none;}
 .navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}
 .collapse.in{display:block !important;}
}
@media screen and (max-width:767px){.navbar-toggle{margin-right: 45px;}
 .word_wrapper{margin-top: 10%;margin-left: 17%;}
 .b2word_wrapper{margin-top: 7%;margin-left: 17%;}
 .bfaft_wrapper{margin-top: 0;}
 .b3textbox{margin-left: 15px;margin-right: 15px;}
 .form-control{width: 100%;height: 100%;}
 .updateform{margin-left: 30px; margin-right: 30px;}
 div.form-group input{margin: 0;}
 .submitbtn{float: right;}
 footer .container{margin-left: 30px;margin-right: 30px;}
}
@media screen and (max-width:399px){
  #popupcontainer {width: 314px;}
}
