# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
pip
vendor
dynamo
node_modules
components
composer.json
composer.lock
composer.phar
comments_bk.php
comments_wip*.php
db_connect.php
db_connect_bk.php
db_connect_bk1.php
insert_*
new-breakthrough-allows-women-to-get-fuller-lips-at-home-3.php
counts.php
.sass-cache
