/* CSS Document */

@font-face {
    font-family: Raleway;
    src: url('fonts/raleway-regular-webfont.eot');
	src: local('☺'),
         url('fonts/raleway-regular-webfont.svg#ralewayregular') format('svg'),
		 url('fonts/raleway-regular-webfont.woff') format('woff'),
         url('fonts/raleway-regular-webfont.ttf') format('truetype'),
		 url('fonts/raleway-regular-webfont.eot') format('embedded-opentype'); /* IE9 */
}

@font-face {
    font-family: Raleway-Bold;
    src: url('fonts/raleway-semibold-webfont.eot');
	src: local('☺'),
         url('fonts/raleway-semibold-webfont.svg#ralewaysemibold') format('svg'),
		 url('fonts/raleway-semibold-webfont.woff') format('woff'),
         url('fonts/raleway-semibold-webfont.ttf') format('truetype'),
		 url('fonts/raleway-semibold-webfont.eot') format('embedded-opentype'); /* IE9 */
}

@font-face {
    font-family: Raleway-ExtraBold;
    src: url('fonts/raleway-extrabold-webfont.eot');
	src: local('☺'),
         url('fonts/raleway-extrabold-webfont.svg#ralewayextrabold') format('svg'),
		 url('fonts/raleway-extrabold-webfont.woff') format('woff'),
         url('fonts/raleway-extrabold-webfont.ttf') format('truetype'),
		 url('fonts/raleway-extrabold-webfont.eot') format('embedded-opentype'); /* IE9 */
}

@font-face {
    font-family: HelveticaNeueLTStdCn;
    src: url('fonts/helveticaneueltstd-cn.eot');
	src: local('☺'),
         url('fonts/helveticaneueltstd-cn.svg#HelveticaNeueLTStd57Condensed') format('svg'),
		 url('fonts/helveticaneueltstd-cn.woff') format('woff'),
         url('fonts/helveticaneueltstd-cn.ttf') format('truetype'),
		 url('fonts/helveticaneueltstd-cn.eot') format('embedded-opentype'); /* IE9 */
}